.footer {
	margin-top: auto;
	background-color: #fff;
	// --sPT: #{rem()};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}
	a {
		color: $body-color;
		font-weight: normal;
	}
	ul {
		margin-bottom: 40px;
	}
	li {
		list-style: none;
		margin-bottom: 1em;
	}

	&__bottom {
		@include media-breakpoint-up(md) {
			border-top: 1px solid #c9d1e2;
		}
		padding-block: 20px;
		@include media-breakpoint-down(md) {
			text-align: center;
		}
		ul {
			@include media-breakpoint-down(md) {
				flex-direction: column;
				gap: 0px;
				margin-bottom: 30px;
			}
			display: flex;
			gap: 20px;
			margin-bottom: 0;
		}
	}

	&__col-contact {
		@include media-breakpoint-down(md) {
			text-align: center;
		}
	}
	//
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
		--sPT: 0;
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
