// start .sForm
.sForm {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	@include media-breakpoint-up(md) {
		--sTPB: #{rem(60)};
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}
	.form-wrap {
		margin-left: auto;
		margin-right: auto;
		max-width: 620px;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
		.h6 {
			margin-left: auto;
			margin-right: auto;
			max-width: 300px;
			// font-size: 16px;
		}
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sForm
