mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Хотите связаться и&nbsp;что-то предложить?
				.h6.fw-400 Заполните форму обратной связи. <br> Мы&nbsp;обязательно ответим вам в&nbsp;ближайшее время.
			+form-wrap.card
				.row.gy-2
					.col
						label Ваше сообщение
							sup.text-danger *
					.col-sm-9
						+input("",'textarea')
				.row.gy-2
					.col
						label Имя
							sup.text-danger *
					.col-sm-9
						+input("",'text')
				.row.gy-2
					.col
						label E-mail
							sup.text-danger *
					.col-sm-9
						+input("",'email')
				.row.gy-2
					.col
						label Телефон
							sup.text-danger *
					.col-sm-9
						+input("",'tel')
				.row.gy-2
					.col
					.col-sm-9
						.row
							.col
								button.btn.btn-success(type="submit" ).w-100.mb-2 Отправить
							.col-md.order-md-first
								.small Нажимая кнопку «Заказать звонок» вы соглашаетесь с  
									a(href="#") Политикой обработки персональных данных.


	// end sForm