// start .sReviews
.sReviews {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__inner {
		max-width: 780px;
	}
	.prod-head {
		display: flex;
		gap: 5px;
		img {
			aspect-ratio: 50 / 60;
			width: 50px;
			object-fit: contain;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sReviews

.rew-item-prod {
	@include media-breakpoint-up(lg) {
		display: grid;
		grid-template-columns: 200px 1fr;
		gap: 40px;
	}
	padding: 20px;

	.rew-item {
		max-width: none;
		@include media-breakpoint-down(lg) {
			padding: 20px;
			box-shadow: 0 10px 30px 0 rgba(38, 51, 77, 0.05);
			background: #fff;
			border-radius: 16px;
		}
	}
	&__head {
		.prod-head {
			img {
				width: 60px;
				cursor: pointer;
				aspect-ratio: 1;
			}
		}
	}
}

.star-result {
	font-size: 48px;
	display: inline-flex;
	align-items: center;
	.icon {
		margin-right: 10px;
		font-size: 48px;
		color: #e5ac1a;
	}
}

.card--link {
	.prod-head {
		display: flex;
		gap: 10px;
		img {
			width: 60px;
			aspect-ratio: 1;
			object-fit: contain;
		}
	}
}

.rew-item__name {
	font-size: 18px;
	// font-weight: 400;
}

.rew-item__hidden-text-toggle {
	cursor: pointer;
	color: $primary;
	font-size: 14px;
	margin-top: 10px;
	@include media-breakpoint-up(md) {
		text-align: right;
	}
	text-align: center;
	.icon {
		font-size: 10px;
		fill: none;
		@include media-breakpoint-up(md) {
			stroke: #c9d1e2;
		}
		stroke: currentColor;
		transition: transform 0.3s ease;
		margin-left: 5px;
		position: relative;
	}
	&.active {
		.icon {
			stroke: $primary;
			transform: rotate(180deg);
		}
	}
}
.rew-item__middle-hidden-text {
	&.need-hide {
		&:not(.active) {
			max-height: 110px;
			@include media-breakpoint-up(md) {
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 30%;
					background: linear-gradient(
						180deg,
						rgba(247, 248, 250, 0) 0%,
						#f7f8fa 100%
					);
				}
			}
		}
		transition: max-height 0.3s ease;
		overflow: hidden;
		position: relative;
	}
}
