// start .sReviews
.sReviews {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__inner {
		max-width: 780px;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sReviews

.rew-item-prod {
	@include media-breakpoint-up(lg) {
		display: grid;
		grid-template-columns: 200px 1fr;
		gap: 40px;
	}
	padding: 20px;
	.prod-head {
		display: flex;
		gap: 5px;
		img {
			aspect-ratio: 50 / 60;
			width: 50px;
			object-fit: contain;
		}
	}
	.rew-item {
		max-width: none;
	}
	&__head {
		.prod-head {
			img {
				width: 60px;
				cursor: pointer;
				aspect-ratio: 1;
			}
		}
	}
}

.star-result {
	font-size: 48px;
	display: inline-flex;
	align-items: center;
	.icon {
		margin-right: 10px;
		font-size: 48px;
		color: #e5ac1a;
	}
}

.card--link {
	.prod-head {
		display: flex;
		gap: 10px;
		img {
			width: 60px;
			aspect-ratio: 1;
			object-fit: contain;
		}
	}
}
