mixin sWhyBrand(data)
	// start sWhyBrand
	+b.SECTION.sWhyBrand.section#sWhyBrand&attributes(attributes)
		+img("img/sWhyBrand-img.jpg").head-img.res-i
		.container
			+b.section-title.text-center
				+img("img/logo-lg.png").logo-img.res-i
				h2 Почему ASKO?
			+e.row.row
				+e.item.col-md-6
					h6 Скандинавский стиль
					div: p Дизайнеры ASKO отдают предпочтение красоте в простом современном дизайне. Прямые линии и базовые цвета, акценты на отдельных элементах идеально вписывают бытовую технику в скандинавский интерьер.
					
				+e.item.col-md-6
					h6 Качество
					div: p ASKO старается создавать технику, которая прослужит покупателям много лет. Качество и надежность ставят на первое место. Это прослеживается как во внешнем исполнении, так и в технологиях, которые разрабатывает компания.
				+e.item.col-md-6
					h6 История
					div: p Компания ASKO взяла свое начало в маленьком шведском городке Лахти. Изначально это была столярная мастерская.  В 1950 году молодой человек Карл-Эрик Андерсон создал стиральную машину по просьбе своей матери. Модель получилась в лучших традициях Швеции. Она экономно использовала ресурсы и имела хорошие очищающие характеристики. С этого момента началась история бренда.
				+e.item.col-md-6
					h6 Экология
					div: p Компания бережно относится к потреблению природных ресурсов. Большое внимание уделяется безотходному производству и сокращению вредных выбросов в атмосферу. Компоненты техники, имеющие вес более 50 грамм подвергаются вторичной обработке. Соответствие экологическим стандартам подтверждает сертификат ISO14001.
			
			+e.row-numbers.row
				mixin item(n,t)
					+e.item-number.col-md-3.col-6
						+e.number!= n
						.text-secondary.h6.fw-400!= t
				+item("70", "Лет на рынке")
				+item("50", "Представительств  <br> по всему миру!")
				+item("30", "Актуальных <br> моделей")
				+item("200", "Международных наград")
	// end sWhyBrand