// start .sRewCard
.sRewCard {
	--rc-bg: #fdfdfd;
	--rc-text: #727b81;
	--rc-photo-out: 132px;

	&__inner {
		position: relative;
		display: flex;
		align-items: flex-start;
		gap: 90px;
		padding: 50px 50px 0;
		margin-bottom: var(--rc-photo-out);
		border-radius: 20px;
		background: var(--rc-bg);

		@include media-breakpoint-down(lg) {
			--rc-photo-out: 0px;

			flex-direction: column;
			gap: 30px;
			padding: 30px;
		}
	}

	&__photo {
		flex: 0 0 44%;
		aspect-ratio: 540 / 428;
		margin-bottom: calc(-1 * var(--rc-photo-out));
		overflow: hidden;
		border-radius: 20px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include media-breakpoint-down(lg) {
			flex: 0 0 auto;
			width: 100%;
			margin-bottom: 0;
		}
	}

	&__content {
		flex: 0 0 auto;
		width: 355px;
		max-width: 100%;
		padding-top: 20px;

		@include media-breakpoint-down(lg) {
			width: 100%;
			padding-top: 0;
		}
	}

	&__title {
		margin: 0 0 20px;
		font-size: 32px;
		font-weight: 500;
		line-height: normal;

		@include media-breakpoint-down(md) {
			font-size: 24px;
		}
	}

	&__desc {
		margin: 0 0 40px;
		font-size: 16px;
		line-height: 1.4;
		color: var(--rc-text);

		@include media-breakpoint-down(md) {
			margin-bottom: 30px;
		}
	}

	&__btn {
		width: 260px;

		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	&__mark {
		position: absolute;
		top: 113px;
		left: 80.6%;
		width: 15.1%;
		pointer-events: none;

		img {
			display: block;
			width: 100%;
			height: auto;
			transform: rotate(15deg);
		}

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	&--reverse {
		--rc-bg: #{$white};

		.sRewCard__inner {
			flex-direction: row-reverse;

			@include media-breakpoint-down(lg) {
				flex-direction: column;
			}
		}

		.sRewCard__content {
			margin-right: auto;
			margin-left: 58px;

			@include media-breakpoint-down(lg) {
				margin-left: 0;
			}
		}

		.sRewCard__mark {
			left: 34.7%;

			img {
				transform: rotate(-15deg);
			}
		}
	}
}
// end .sRewCard
