// start .sSets
.sCatalog + .sSets {
	@include media-breakpoint-down(md) {
		// --sPT: 0;
	}
}
.sSets {
	// --sPT: #{rem()};
	@include media-breakpoint-down(md) {
		--sTPB: 0;
	}
	&__block {
		@include media-breakpoint-down(sm) {
			margin-inline: -15px;
			padding-inline: 15px;
		}
		padding: 30px;
		border-radius: 20px;
		position: relative;
		z-index: 2;
		overflow: hidden;
		&::after {
			content: "";
			position: absolute;
			@include media-breakpoint-up(xl) {
				width: 50%;
			}
			width: 100%;
			left: 0;
			top: 0;
			z-index: -1;
			height: 100%;
			background: linear-gradient(90deg, #1d273a 0%, rgba(29, 39, 58, 0) 100%);
		}
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(30)};
	}
	.section-title {
		&__text.row {
			align-items: center;
		}
	}
	&__col {
	}
	&__item {
	}
	.swiper-slide {
		// width: auto;
		height: auto;
	}
	&__slider {
		// overflow: visible;
	}
	&__caption {
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.btn {
			padding: 10px;
			width: 200px;
		}
	}

	.arrow-wrap {
		position: relative;
		bottom: auto;
		right: auto;
	}
	.swiper-pagination {
		text-align: left;
	}

	.cat-btns {
		&__btn {
			// display: none;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sSets

.product-item--set {
	@include media-breakpoint-down(lg) {
		padding: 10px;
		.product-item__icons {
			margin-bottom: 0;
		}
	}
	@include media-breakpoint-up(xl) {
		display: grid;
		grid-template-columns: 240px 1fr;
		gap: 20px;
		.product-item__btn {
			width: 180px;
		}
		.product-item__head {
			grid-column: span 2;
		}
	}
}
