mixin sBecomePart(data)
	// start sBecomePart
	+b.SECTION.sBecomePart.section.pt-0#sBecomePart&attributes(attributes)
		.container
			+e.inner.card
				+img("img/sBecomePart-img.jpg").head-img
				.card__body
					+b.section-title
						h2 Станьте частью нашей эксклюзивной сети партнеров
						p Свяжитесь с нами сегодня, чтобы получить доступ к широкому ассортименту высококачественной и стильной мебели, которая станет воплощением вашего творчества и подарит вашим проектам восторженные овации
					a.btn.btn-success(href="#") Начать сотрудничество
	// end sBecomePart