:root {
	--animate-delay: 1.2s;
	--bs-body-font-size: #{$em-base};

	--fancybox-content-color: var(--bs-body-color);
	--swiperArrowSize: #{rem(48)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: #fff;
	--swiperColorDef: var(--bs-secondary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: #fff;
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;

	//  --carousel-button-width: 48px;
	//  --carousel-button-height: 48px;

	//  --carousel-button-svg-width: 24px;
	//  --carousel-button-svg-height: 24px;

	//  --carousel-button-svg-stroke-width: 2.5;
	//  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0/ 0.4));

	--sPT: #{rem(20)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(20)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(30)};
		--sPB: #{rem(30)};
		--sTPB: #{rem(20)};
	}

	--chevron-down: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.353516 0.353554L5.35352 5.35355L10.3535 0.353554' stroke='%2379859E'/%3E%3C/svg%3E%0A");
	--chevron-down-primary: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.353516 0.353554L5.35352 5.35355L10.3535 0.353554' stroke='#{$primary}'/%3E%3C/svg%3E%0A");
}
.fancybox__container {
	--fancybox-bg: rgba(58, 59, 60, 0.77);
}
@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
