@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-adress {
	$h: 23;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(21 / #{$h} *1em );
}
.icon-arrow-down {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(13 / #{$h} *1em );
}
.icon-basket {
	$h: 23;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-bill {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-burger {
	$h: 14;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-card {
	$h: 15;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(21 / #{$h} *1em );
}
.icon-chart {
	$h: 14;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(14 / #{$h} *1em );
}
.icon-check {
	$h: 8;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(11 / #{$h} *1em );
}
.icon-chevron-down {
	$h: 7;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(11 / #{$h} *1em );
}
.icon-chevron-left {
	$h: 15;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(10 / #{$h} *1em );
}
.icon-chevron-right {
	$h: 15;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(10 / #{$h} *1em );
}
.icon-close {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-edit {
	$h: 22;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-factura {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-feadback {
	$h: 22;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(21 / #{$h} *1em );
}
.icon-heart {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-logout {
	$h: 21;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-mark {
	$h: 23;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(19 / #{$h} *1em );
}
.icon-metro {
	$h: 15;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(21 / #{$h} *1em );
}
.icon-online {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(18 / #{$h} *1em );
}
.icon-play {
	$h: 59;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(52 / #{$h} *1em );
}
.icon-plus {
	$h: 9;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(9 / #{$h} *1em );
}
.icon-print {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-profile {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-profile2 {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(18 / #{$h} *1em );
}
.icon-qr {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-search {
	$h: 21;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(21 / #{$h} *1em );
}
.icon-service-1 {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-service-2 {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-service-3 {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-service-4 {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-star {
	$h: 14;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(15 / #{$h} *1em );
}
.icon-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-track {
	$h: 13;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(14 / #{$h} *1em );
}
.icon-trash {
	$h: 21;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-wallet {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(18 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
