// start .sRew
.sRew {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	&__slider {
		padding: 20px;
		margin: -20px;
		margin-bottom: 40px;
	}
	&__slide {
		// max-width: max(calc());
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sRew

.stars-block {
	.icon {
		fill: none;
		stroke: var(--bs-primary);
	}
	@for $i from 1 through 5 {
		&[data-star="#{$i}"] {
			.icon:nth-child(-n + #{$i}) {
				fill: var(--bs-primary);
				stroke: none;
			}
		}
	}
}

.rew-item {
	&__caption {
		position: relative;
		&::before {
			content: "";
			width: 100%;
			bottom: 0;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
			height: 90%;
			left: 0;
			position: absolute;
		}
	}
}
