// start .sCategories
.sCategories {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		@include media-breakpoint-up(md) {
			--bs-gutter-y: var(--bs-gutter-x);
		}
		--bs-gutter-y: 10px;
	}
	.section-title {
	}
	&__col {
	}
	&__item {
		position: relative;

		box-shadow: 0px 10px 30px rgba(38, 51, 77, 0.05);
		position: relative;
		@include media-breakpoint-up(md) {
			min-height: 250px;
		}
		min-height: 88px;
		.img-bg {
			border-radius: inherit;
		}
		&:hover {
			--op: 1;
			@include media-breakpoint-down(md) {
				.sCategories__head {
				}
			}
		}
	}
	&__title {
		@include media-breakpoint-up(md) {
			font-size: 24px;
		}
		font-size: 20px;
		color: #fff;
		max-width: 185px;
		line-height: 1;
	}
	&__head,
	&__caption {
		border-radius: 16px;
		@include media-breakpoint-up(md) {
			padding: 30px;
		}
		padding: 20px;
	}
	&__head {
		display: flex;
		position: relative;
		border-radius: 16px;
		overflow: hidden;
		height: 100%;
		width: 100%;
		@include media-breakpoint-down(md) {
			position: absolute;
			left: 0;
			top: 0;
		}
		@include media-breakpoint-up(md) {
			pointer-events: none;
			align-items: flex-end;
			height: 250px;
		}
		height: 100%;
		align-items: center;
	}
	&__caption {
		left: 0;
		top: 0;
		width: 100%;
		display: none;
		position: relative;
		z-index: 3;
		@include media-breakpoint-up(md) {
			display: block !important;
			position: absolute;
			min-height: calc(200% + var(--bs-gutter-y));
			transform-origin: top;
			@include mt;
			scale: 1 var(--op, 0);
			opacity: var(--op, 0);
		}
		z-index: 2;
		background: linear-gradient(148.53deg, #1d273a 0%, #bd2539 100.03%);
		box-shadow: 0px 10px 30px rgba(189, 37, 57, 0.3);
		img {
			max-width: 102px;
		}
		ul {
			padding-top: 30px;
		}
		li {
			list-style: none;
			margin-bottom: 12px;
			a {
				color: #fff;
				text-wrap: balance;
				display: inline-block;
				&:not(:hover) {
					opacity: 0.7;
				}
			}
		}
		.row {
			height: 100%;
		}
		.col {
			display: flex;
			flex-direction: column;
		}
		.btn {
			width: 200px;
			margin-top: auto;
		}
	}

	@include media-breakpoint-up(md) {
		&__col:nth-last-child(-n + 3) &__caption {
			top: auto;
			bottom: 0;
			transform-origin: bottom;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCategories
