mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.sContent.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				h2 О бренде Asko 
			+e.inner
				+e.row.row.h6.fw-400
					.col-lg-6
						h5 Лидер в мире премиальной техники
						p Шведский бренд Asko пользуется популярностью и доверием покупателей в странах Скандинавии, Северной Америки, Австралии и СНГ. Более 20 лет назад все заводы компании в Словении, Чешской Республике и Сербии были сертифицированы в соответствии с международными стандартами ISO 9001, что подтверждает высочайшее качество производства техники. Благодаря современному дизайну, европейскому качеству материалов и сборки приборы Аско завоевывают все большую популярность в России.

						p Компания является одним из лидеров по генерации инноваций, например, домашние прачечные Asko Pro Home Laundry и духовые шкафы ProSeries отмечены премией Red Dot Design. Важное направление — снижение энергопотребления. Так посудомоечные и стиральные машины имеют эко-лейбл Swan, что указывает не только энергоэффективность, но также на использование вторичного сырья, чистых упаковочных материалов и минимальное воздействие на окружающую среду во время всего цикла производства.
					.col-lg-6
						h5 Почему покупают технику Asko?
						ul
							li Asko-russia.ru является официальным дилером компании
							li Все новые приборы сразу появляются в каталоге сайта
							li Наши специалисты прошли обучение и могут грамотно рассказать о технологиях и подобрать технику Comfort или Premium с учетом ваших пожеланий
							li В дизайне воплощаются скандинавские традиции — простота, удобство, эргономичность
							li На все модели действует гарантия производителя — 24 месяца При условии наличия лейбла на покупку будут оформлены бесплатная доставка и установка
							li Все работы по монтажу осуществляются специализированным сервисным центром, имеющим допуск и опыт работы именно с приборами данного производителя 
			+e.toggle--js.d-md-none
				+icon("chevron-down")
	// end sAbout