extends ../layout/main.pug

include ../blocks/sCatalogHead/_sCatalogHead.pug
include ../blocks/sPopular/_sPopular.pug
include ../blocks/sAddresses/_sAddresses.pug
include ../blocks/sCategoriesSm/_sCategoriesSm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sSets/_sSets.pug
include ../blocks/sProdHead/_sProdHead.pug
include ../blocks/sProdBody/_sProdBody.pug
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sReviews/_sReviews.pug

block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= "03 - product"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.container.py-2
			+breadcrumb("Бытовая техника ASKO", 'Посудомоечные машины ASKO','DSD544B')
		+sProdHead
		+sIcons
		+sProdBody
		+sAddresses.d-md-none
	+parts('footer')