extends ../layout/main.pug

include ../blocks/sAddresses/_sAddresses.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sCart/_sCart.pug
include ../blocks/sCabinetAside/_sCabinetAside.pug
include ../blocks/sCabinet/_sCabinet.pug
block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= "07 - about"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.section.pb-0
			.container
				h1 О компании 
		.container.section
			.row
				.col-xxl-2.col-xl-3.d-none.d-xl-block
					+sCabinetAside-07
				.col-xxl-10.col-xl-9
					+sCabinet
		+sAddresses.d-md-none
	+parts('footer')