extends ../layout/main.pug

include ../blocks/sAddresses/_sAddresses.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sCart/_sCart.pug
include ../blocks/sCabinetAside/_sCabinetAside.pug
include ../blocks/sContent/_sContent.pug
block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= "08 - Документы"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.section.pb-0
			.container
				h1  Документы
		.container.section
			.row
				.col-xxl-3.col-xl-3.d-none.d-xl-block
					+sCabinetAside-07
				.col-xxl-9.col-xl-9
					+sContent08
		+sAddresses.d-md-none
	+parts('footer')