extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sSets/_sSets.pug
include ../blocks/sPopular/_sPopular.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sVideoAbout/_sVideoAbout.pug
include ../blocks/sClientsService/_sClientsService.pug
include ../blocks/sAddresses/_sAddresses.pug
include ../blocks/sAppliances/_sAppliances.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sEvents/_sEvents.pug
include ../blocks/sBecomePartners/_sBecomePartners.pug


block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.section.container
			.section-title-center.text-center.mb-5
				h1 Шоу-рум в Алматы
				.h6.fw-400 Мы предлагаем взаимовыгодное сотрудничество, направленное на создание уникальных решений под ваших клиентов. Наша компания предоставляет полный спектр услуг и возможностей, чтобы сделать вашу работу максимально комфортной и прибыльной.
			//- +b.cat-btns.d-lg-flex.justify-content-center.mb-5
			//- 	+e.btn.active(style="--icon-color: #894E35") 
			//- 		+icon("metro")
			//- 		| Курская
			//- 	+e.btn(style="--icon-color: #40C1F3")
			//- 		+icon("metro")
			//- 		| Кутузовская
		.section.pt-0.text-center.container
			+b.content-slider-wrap
				+b.content-slider--js.swiper
					.swiper-wrapper
						- for (var x = 0; x < 3; x++)
							.swiper-slide
								+img("img/show-room.jpg").res-i.card-img
				
				+e.row-control.row.mt-3
					.col
						.swiper-pagination.text-md-start.text-center
					.col-auto.d-none.d-md-block
						.arrow-wrap
							+arrow
		.row
			.col-12
				.section-title-center.text-center.mb-sm-5.container
					h2 Ассортимент техники Asko
					.h6.fw-400 В шоуруме представлены новинки и популярные модели бытовой техники Asko. Все приборы подключены. Можно ознакомиться не только с их внешним видом в интерьере, но и с функциями, доступными в демонстрационном режиме, оценить удобство интеграции в мебель и комфортную систему управления.
				+sCategories
				+sEvents
				+sBecomePartners
			.col-12.order-md-first
				+sAddresses("Как добраться?").sAddresses--show-room
		
	+parts('footer')