extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sSets/_sSets.pug
include ../blocks/sPopular/_sPopular.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sVideoAbout/_sVideoAbout.pug
include ../blocks/sClientsService/_sClientsService.pug
include ../blocks/sAddresses/_sAddresses.pug
include ../blocks/sAppliances/_sAppliances.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sEvents/_sEvents.pug
include ../blocks/sBecomePartners/_sBecomePartners.pug
include ../blocks/sWhyBrand/_sWhyBrand.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sBecomePart/_sBecomePart.pug


block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.section.container
			.section-title-center.text-center.mb-5
				h1 Сотрудничество 
				.h6.fw-400 Мы предлагаем взаимовыгодное сотрудничество, направленное на создание уникальных решений под ваших клиентов. Наша компания предоставляет полный спектр услуг и возможностей, чтобы сделать вашу работу максимально комфортной и прибыльной.
		+sBecomePartners12-1
		+sWhyBrand
		.section.container
			h2.text-center С нами сотрудничают
			+b.labels
				+e.item рестораторы
				+e.item дизайнеры интерьера
				+e.item дизайн-студии
				+e.item архитекторы
				+e.item девелоперы
				+e.item бюро комплектаций
		+sBecomePart
		.row
			.col-12
				+sEvents

			.col-12.order-md-last
				+sForm
			.col-12
				+sAddresses("Как добраться?").sAddresses--show-room
		
	+parts('footer') 