extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sSets/_sSets.pug
include ../blocks/sPopular/_sPopular.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sVideoAbout/_sVideoAbout.pug
include ../blocks/sClientsService/_sClientsService.pug
include ../blocks/sAddresses/_sAddresses.pug
include ../blocks/sAppliances/_sAppliances.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sRew/_sRew.pug
include ../blocks/sCatalogMainProd/_sCatalogMainProd.pug
include ../blocks/sCatalogMainAdv/_sCatalogMainAdv.pug



block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+headerBlock 
		
		+sIcons
		+sCategories
		+sCatalog
		+sSets
		+sPopular
		+sNews
		+sReviews
		+sVideoAbout
		+sClientsService
		.row
			.col-12
				+sRew
				+sAppliances
				+sAbout
			.col-12.order-md-first
				+sAddresses
		
	+parts('footer')