mixin sContent06()
	// start sContent
	+b.SECTION.sContent#sContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-8
					+e.text-zone
						p #[strong Asko-market.ru] — интернет-магазин, где вы сможете найти все необходимое для вашего комфорта и уюта. Мы предлагаем широкий ассортимент товаров для дома.
						+e.media-block
							.row.d-none.d-md-flex
								.col.h5.fw-400 Шоу-рум на Курской
								.col-auto
									a.text-body(href="#")  Подробнее
							+img("img/about.jpg")
							.row.d-md-none
								.col-auto.ms-auto
									a(href="#").small Подробнее
						h4 Чем мы можем быть вам полезны
						p Удобная и быстрая доставка. Мы понимаем, что ваше время ценно, поэтому предлагаем быструю доставку заказов к дому. Можете быть уверены, что покупка прибудет к вам вовремя.
						ul
							li
								strong Профессиональный сервис
								p Наши менеджеры всегда готовы помочь в выборе товара, ответить на вопросы и предложить решения, которые подходят именно вам. Мы ценим каждого клиента и стремимся создать удобный сервис.
							
							li
								strong Гибкие условия оплаты
								p Выберите способ оплаты, который вам подходит: наличными, банковской картой или электронным переводом.
							li
								strong Постоянные акции и скидки
								p Часто проводим акции и предлагаем специальные скидки для наших клиентов. Это помогает вам сэкономить деньги и получить больше удовольствия от покупок в нашем магазине.
						h4 Asko-market.ru — надежный партнер в покупках
						p В нашем интернет-магазине делаем упор на качество и надежность. Эти принципы лежат в основе нашей работы при выборе поставщиков и производителей. Мы глубоко ценим доверие наших клиентов и стремимся сотрудничать с теми партнерами, чья репутация и опыт безупречны.

						p Каждый товар в нашем магазине тщательно отобран, чтобы соответствовать высоким стандартам качества. Гарантируем, что каждая покупка принесет вам удовлетворение и радость.
				.col
					+sContentForm()

					+e.aside-block.card.text-white.bg-wrap.text-center
						+img("img/partner.jpg",'bg').img-bg
						.h5.fw-400.mb-4 Станьте частью нашей эксклюзивной сети партнеров
						a.btn.btn-success(href="#").w-100 Подробнее
	// end sContent

mixin sContent06-2()
	// start sContent
	+b.SECTION.sContent#sContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-8
					+e.text-zone
						h4 Asko - бренд из Швеции, с производством в Словении 

						p История компании Asko началась в 1950 году в небольшом шведском городке Вара. Фермер Карл-Эрик Андерсон решил облегчить труд своей матери и создал для нее уникальную стиральную машину: тщательно продуманная конструкция аппарата экономила воду и электричество и была оснащена надежным стальным барабаном. Успех вдохновил молодого человека и впоследствии появились два завода, выпускающих стиральные машины, холодильники, а затеми варочные панели.
						+img("img/about2.jpg")
						p Вся продукция сейчас производится в Словении (только кофемашины – в Италии) и пользуется популярностью во многих странах мира. Сегодня пользователи нашего интернет-магазина имеют удобную возможность выбрать и купить качественную бытовую технику Asko у официального дилера с гарантией и доставкой по всей России.
						p Около 20 лет назад все заводы Asko были сертифицированы в соответствии с международными стандартами ISO 9001, что гарантирует высочайшее качество техники.
						
						h4 Основные преимущества техники Asko
						ul
							li Надежность, качество, эргономичность
							li Безупречный дизайн, разработанный ведущим дизайн-бюро Propeller
							li Постоянные акции и скидки
							li Высокая производительность
							li Экологическая безопасность
							li Экономное использование ресурсов
							li Официальная гарантия
					h4 Ассортимент техники Asko
					.small.text-secondary.mb-3 Уход за бельём
					- for (var x = 0; x < 3; x++)
						+b.product-accordion.card.mb-3
							+e.img-wrap()
								+img('img/prod-1.png')
							+e.caption
								+e.title--js Стиральные машины
									+icon("chevron-down")
								+e.list
									ul
										li: a(href="#") Шириной 60 см
										li: a(href="#") Отдельностоящие
										li: a(href="#") Встраиваемые
										li: a(href="#") Под столешницу
										li: a(href="#") Шириной 60 см
										li: a(href="#") Отдельностоящие
										li: a(href="#") Встраиваемые
										li: a(href="#") Под столешницу

					
				.col
					+sContentForm()
	// end sContent
mixin sContent08()
	// start sContent
	+b.SECTION.sContent#sContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-8
					h4.mb-4 Сертификаты и лицензии

					+b.doc-grid
						- for (var x = 0; x < 3; x++)
							+e.item.card(data-fancybox='modal-3' data-src='img/doc.jpg')
								+e.img-wrap
									+img('img/doc.jpg')
								+e.text Сертификат соответствия ГОСТ
							
					
					h4 Документы
					- for (var x = 0; x < 3; x++)
						+b.doc-item-line.card.mb-3(href="#")
							+icon("download")
							div
								+img('img/doc-i.svg')
							+e.caption
								+e.title 
									| Разрешение на использование товарного знака
								.small.text-light Документ подтверждает законное право магазина на продажу продукции под данным брендом.

					
				.col
					+sContentForm()
	// end sContent
mixin sContent09()
	// start sContent
	+b.SECTION.sContent#sContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-8
					h4.mb-4 Отзывы об интернет-магазине Asko-Shop
					- for (var x = 0; x < 3; x++)
						+b.rew-item.mb-5
							.small.text-secondary 11.05.2025
							.row.mb-3
								.col-auto Соня
								.col-auto
									+b.stars-block(data-star="4")
										+icon("star")
										+icon("star")
										+icon("star")
										+icon("star")
										+icon("star")
							p Сейчас сложно найти технику из Европы, и Аско приятная неожиданность. У меня на старой квартире была варочная панель Аско, я еще узнала, что это мужское имя и в переводе означает "Ясень". Мы дома 
							p Сейчас сложно найти технику из Европы, и Аско приятная неожиданность. У меня на старой квартире была варочная панель Аско, я еще узнала, что это мужское имя и в переводе означает "Ясень". Мы дома 
					.text-center
						a.btn.btn-outline-light.btn-more(href="#") Показать ещё
					
				.col
					+sContentForm()
					a.rew-btn.card(href="#")
							div Оставить отзыв
							+icon("chart")
	// end sContent