// start .sAppliances
.sAppliances {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	&__caption {
		backdrop-filter: blur(20px);
		background: rgba(29, 39, 58, 0.8);
		border-radius: 16px;
		max-width: 590px;
		margin-left: auto;
		color: #fff;
		padding: 30px;
		z-index: 3;
		position: relative;
	}
	&__row-control {
		margin-top: 20px;
		// padding-bottom: 20px;
		@include media-breakpoint-up(md) {
			.swiper-pagination {
				text-align: left;
			}
		}
		.arrow-wrap {
			position: relative;
			bottom: auto;
			right: auto;
			--swiperColorDef: #fff;
			--swiperBgDef: transparent;
		}
	}
	&__slider-wrap {
		position: relative;
		padding: 30px;
		border-radius: 16px;
		overflow: hidden;
	}

	&__slider-gal {
		position: absolute;
		inset: 0;
	}

	.btn {
		width: 180px;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAppliances
