// start .sCatalog
.sCatalog {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}
	&__slider {
	}
	&__col--slide {
	}

	&__row-control {
		margin-top: 20px;
		// padding-bottom: 20px;
		@include media-breakpoint-up(md) {
			.swiper-pagination {
				text-align: left;
			}
		}
		.arrow-wrap {
			position: relative;
			bottom: auto;
			right: auto;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCatalog

.product-item {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: #ffffff;
	box-shadow: 0px 10px 30px rgba(38, 51, 77, 0.05);
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	@include media-breakpoint-up(md) {
		padding: 20px;
	}
	padding: 15px;

	&__head {
		--bs-gutter-x: 0;
	}
	&__head-btns {
		--bs-gutter-x: 5px;
		@include media-breakpoint-down(md) {
			position: absolute;
			bottom: 22px;
			left: 15px;
		}
	}
	&__head-btn {
		cursor: pointer;
		@include mt;
		color: $light;
		position: relative;
		padding: 4px;
		.icon {
			font-size: 18px;
			@include media-breakpoint-up(md) {
				font-size: 20px;
			}
			fill: none;
			stroke: currentColor;
			&-check,
			&-plus {
				font-size: 0.5em !important;
			}
		}
		&.active {
			.icon-check {
				opacity: 1;
			}
			.icon-heart {
				fill: currentColor;
			}
		}
		&:hover {
			color: $primary;
		}
		&:hover:not(.active) {
			.icon-plus {
				opacity: 1;
			}
		}
	}
	&__small-icon {
		position: absolute;
		bottom: 0;
		right: 6px;
		width: 8px;
		height: 8px;
		.icon {
			font-size: 8px;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}
	}
	&__promo {
		border: 1px solid #c9d1e2;
		font-size: 14px;
		color: $secondary;
		display: inline-block;
		border-radius: 100px;
		padding: 2px 8px;
		@include mt;
		&:hover,
		&.active {
			color: #fff;
			background: linear-gradient(90deg, #bd2539 0%, #ff9a00 100%);
			border-color: transparent;
		}
	}
	&__img-wrap {
		@include block(260, 220);
		max-height: 220px;
	}
	&__price-row {
		display: flex;
		gap: 0 10px;
		@include media-breakpoint-down(md) {
			flex-direction: column;
			text-align: left;
		}
		@include media-breakpoint-up(md) {
			flex-wrap: wrap;
			margin-bottom: 10px;
		}
	}
	&__price-old {
		font-size: 14px;
		text-decoration: line-through;
		@include media-breakpoint-up(md) {
			align-self: flex-end;
		}
	}
	&__price-new {
		color: $primary;
		font-size: 24px;
		line-height: 1.2;
		@include media-breakpoint-down(md) {
			order: 1;
			font-size: 20px;
		}
	}
	&__text {
		margin-bottom: 10px;
		color: $secondary;
		@include media-breakpoint-down(sm) {
			font-size: 12px;
		}
	}
	&__head {
		@include media-breakpoint-down(md) {
			display: flex;
			gap: 10px;
			margin-bottom: 20px;
		}
	}
	&__purchase-img-wrap {
		@include media-breakpoint-down(md) {
			width: 15px;
			height: 15px;
			overflow: hidden;
			position: relative;
			padding: 0;
			border-radius: 4px;
			img {
				height: 100%;
				width: auto;
				max-width: none;
				vertical-align: top;
			}
		}
	}
	&__purchase {
		@include media-breakpoint-down(md) {
			display: inline-flex;
			align-self: flex-end;
			margin-bottom: 5px;
		}
		@include media-breakpoint-up(md) {
			width: 100%;
			margin-bottom: 30px;
			display: flex;
		}
		gap: 10px;
	}
	&__title {
		@include media-breakpoint-up(sm) {
			font-size: 20px;
		}
	}
	&__icon {
		display: flex;
		align-items: center;
		gap: 2px;
		font-size: 12px;
		margin-bottom: 10px;
		.icon {
			flex-shrink: 0;
		}
		@include media-breakpoint-down(sm) {
			font-size: 10px;
		}
	}
	&__icon--rating {
		.icon {
			color: #e5ac1a;
		}
	}
	&__icon--comments {
		.icon {
			color: #c3cad9;
		}
	}
	&__ball {
		width: 12px;
		height: 12px;
		border-radius: 50%;
	}
	&__icons {
		@include media-breakpoint-up(md) {
			margin-bottom: 20px;
		}
		margin-bottom: 10px;
		@include media-breakpoint-down(sm) {
			--bs-gutter-x: 5px;
		}
	}
	&__caption {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	&__btn {
		width: 100%;
		margin-top: auto;
		@include media-breakpoint-down(md) {
			padding: 0;
			width: 40px;
			height: 40px;
			margin-left: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			&::after {
				content: "+";
			}
			span {
				display: none;
			}
		}
	}
}

.cat-btns {
	display: flex;
	flex-wrap: wrap;
	gap: em(10);
	overflow-x: auto;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-inline: -15px;
	@include media-breakpoint-down(md) {
		font-size: 14px;
	}
	&__btn {
		color: #79859e;
		border: 0.6px solid #c9d1e2;
		background-color: #fff;
		padding: em(12) em(20);
		border-radius: 100px;
		cursor: pointer;
		&:hover,
		&.active {
			color: $body-color;
		}
	}
}

.product-item--horizontal {
	@include media-breakpoint-up(md) {
		display: grid;
		grid-template-columns: 29% 1fr;
		gap: 20px;
	}
	.product-item {
		@include media-breakpoint-up(md) {
			&__head {
				grid-column: 2 / 3;
			}
			&__img-wrap {
				grid-column: 1 / 2;
				grid-row: 1 / 3;
				max-height: 100%;
			}
			&__caption {
				grid-column: 2 / 3;
				padding-inline: 0;
				padding-bottom: 0;
			}
		}
		&__caption {
			@include media-breakpoint-up(md) {
				display: grid;
				gap: 30px;
			}
			@include media-breakpoint-up(lg) {
				grid-template-columns: 36% 1fr;
			}
		}
		@include media-breakpoint-up(md) {
			&__caption-inner {
				display: flex;
				flex-direction: column;
				// flex-grow: 1;
				height: 100%;
			}
		}
	}
	@include media-breakpoint-up(md) {
		.product-item__footer {
			margin-top: auto;
		}
		.product-item__purchase {
			margin-bottom: 0;
		}
		ul {
			list-style: none;
			font-size: rem(14);
			margin-bottom: 0;
		}
		.product-item__btn {
			--bs-btn-padding-y: 0.675rem;
		}
	}
}

.icon-description {
	display: flex;
	flex-wrap: wrap;
	gap: rem(8);
	margin-bottom: 20px;
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #c9d1e2;
		width: rem(30);
		aspect-ratio: 1;
		border-radius: 8px;
		cursor: pointer;
		@include mt;
		&:not(:hover) {
			color: $secondary;
			svg {
				* {
					fill: currentColor !important;
				}
			}
		}
		svg {
			@include mt;
			width: 100%;
			// height: 100%;
			max-width: 90%;
			max-height: 90%;
		}
		&:hover {
			border-color: $primary;
		}
	}
}

.filter-block {
	background-color: #fff;
	box-shadow: 0 10px 30px 0 rgba(38, 51, 77, 0.05);
	background: #fff;
	@include media-breakpoint-up(xl) {
		max-width: 280px;
	}
	border-radius: 16px;
	position: relative;
	&__footer {
		padding: 0 20px 20px;
	}
	&__btn {
		width: 100%;
		color: #fff;
		position: sticky;
		left: 0;
		bottom: 0;
	}
	@include media-breakpoint-down(xl) {
		position: fixed;
		left: 0;
		top: 0;
		height: 100dvh;
		z-index: 100;
		width: 100%;
		display: flex;
		flex-direction: column;
		display: none;
		&__body {
			flex-grow: 1;
			overflow-y: auto;
		}
	}
}

.filter-item {
	&:not(:last-child) {
		border-bottom: 1px solid #c9d1e2;
	}
	&__head {
		line-height: 1.2;
		position: relative;
		cursor: pointer;
		&::before {
			content: var(--chevron-down);
			position: absolute;
			right: rem(17);
			@include a-cent(y);
			display: flex;
			justify-content: center;
			align-items: center;
			rotate: var(--rotate, 0turn) 0;
			@include mt;
		}
	}
	&__title {
		font-size: rem(18);
	}

	&__head,
	&__content {
		padding: rem(20);
	}
	&__content {
		padding-top: 0;
		display: var(--show, none);
	}

	.custom-input {
		margin-bottom: 10px;
	}

	&.active {
		--show: block;
		--rotate: 0.5turn;
	}
}
