// start .topLine
.topLine {
	--sPT: #{rem(10)};
	--sPB: #{rem(10)};
	text-align: center;
	background-color: #fff;
	.row {
		position: relative;
		@include media-breakpoint-up(lg) {
			z-index: 101;
		}
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(25)};
		--sPB: #{rem(25)};
		text-align: left;
	}
	&__row {
		@include media-breakpoint-up(xxl) {
			--bs-gutter-x: #{rem(40)};
		}
		--bs-gutter-y: var(--bs-gutter-x);
		align-items: center;
	}
	&__col-contact {
		display: flex;
		justify-content: flex-end;
		@include media-breakpoint-up(xl) {
			max-width: min(300px, 25%);
		}
	}
	&__location {
		display: flex;
		gap: 6px;
		align-items: center;
		cursor: pointer;
		margin-bottom: 8px;
		&::after {
			content: var(--chevron-down);
		}
		&:hover {
			color: $primary;
		}
	}

	&__label {
		font-size: 12px;
		color: $secondary;
		margin-bottom: 10px;
	}
	&__phone-link {
		font-weight: 500;
		font-size: rem(20);
		color: $body-color;
	}
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.topLine

.icons-block {
	display: flex;
	gap: 20px;
	align-items: center;
	@include media-breakpoint-up(xl) {
		gap: 30px;
	}
	&__divider {
		background-color: $secondary;
		width: 1px;
		height: 1.4em;
	}
	&__item {
		color: $secondary;
		position: relative;
		padding-block: rem(8);
		cursor: pointer;
		&:hover {
			color: $primary;
		}
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 1;
		}
		&.active {
			&::before {
				content: "";
				border-radius: 50%;
				width: 8px;
				height: 8px;
				right: 0;
				bottom: rem(8);
				position: absolute;
				background-color: #e62a43;
			}
		}
		&:hover {
			--vis: 1;
		}

		&--search {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				@include a-cent1;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				border: 1px solid #c9d1e2;
				opacity: 0;
			}
			&:not(.active) {
				.icon-close2 {
					display: none;
				}
			}
			.icon-close2 {
				color: $primary;
			}
			&.active {
				&::after {
					opacity: 1;
				}
				.icon-search {
					display: none;
				}
				&::before {
					display: none;
				}
			}
		}
	}
	.aside-menu {
		@include media-breakpoint-up(lg) {
			visibility: var(--vis, hidden);
			opacity: var(--vis, 0);
			transition:
				opacity 0.3s,
				visibility 0.3s;
			position: absolute;
			right: -15px;
			top: 100%;
			border-radius: 16px;
			width: 260px;
			box-shadow: 0 0 30px 0 rgba(38, 51, 77, 0.1);
			background: #fff;
			z-index: 2;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		li {
			margin: 0;
			&:last-child {
				border-top: 1px solid #d9d9d9;
			}
		}
		a {
			padding: 9px 20px;
		}
	}
}
