mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			+e.row.row
				+e.col-logo.col-lg-auto
					a(href="#")
						img(src="img/logo-full.svg", alt="")
				+e.col-contact.col-xl-3.col-auto.d-none.d-lg-flex
					div
						+e.location
							img(src="img/gerb.svg", alt="")
							| Москва
						a(href="#").small  Заказать звонок
				.col-auto.d-none.d-lg-block
						+e.label Ежедневно с 10:00 до 21:00
						+e.phone-link(href="tel:8(495)646-09-31") 8 (495) 646-09-31
				.col.d-none.d-lg-block
					+e.label Звонок бесплатный
					+e.phone-link(href="tel:8(800)555-17-98") 8 (800) 555-17-98
				
				+e.col-icons.col-auto.d-none.d-lg-block
					+b.icons-block
						+e.item--search
							+icon("search")
							+icon("close2")
						+e.divider
						+e.item(href="#").active
							+icon("heart")
						+e.item(href="#").active
							+icon("burger")
						+e.item(href="#").active
							+icon("basket")
						+e.item()
							+icon("profile")
							ul.aside-menu
								li
									a(href="#").active
										.aside-menu__icon-wrap
											+icon('basket')
										| Заказы
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('heart')
										|  Избранное
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('burger')
										|  Сравнение
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('profile2')
										|  Профиль
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('adress')
										|  Данные компании
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('mark')
										|  Адреса
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('feadback')
										|  Мои отзывы
								li.logout-li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('logout')
										|  Выйти
				+search()
	// end topLine