mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy.d-none.d-lg-block
		.container
			+e.row.row
				+e.col-catalog.col-xl-4.col-auto
					+e.catalog-button
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24 0V17.9391C24 17.9391 24 23.9695 18.0152 23.9695V15.0152H6.01525V18H15.0229C15.0229 18 15.0229 24 9.00758 24H0V14.9543C0 8.98479 6.01525 8.98479 6.01525 8.98479H15.0229C18.0152 8.98479 18.0152 6.03045 18.0152 6.03045H0.0305343C0.0305343 6.03045 0 0 6.01525 0H24Z" fill="#C9D1E2"/>
							</svg>
						| Каталог 
						span.d-none.d-xl-inline товаров
				+e.menu-col.col.order-lg-0.order-last
					+search()
					+mnu()
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
				+e.col-icons.col-auto.d-none.d-lg-block
					+b.icons-block
						+e.item(href="#").active
							+icon("heart")
						+e.item(href="#").active
							+icon("burger")
						+e.item(href="#").active
							+icon("basket")
						+e.item()
							+icon("profile")
							ul.aside-menu
								li
									a(href="#").active
										.aside-menu__icon-wrap
											+icon('basket')
										| Заказы
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('heart')
										|  Избранное
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('burger')
										|  Сравнение
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('profile2')
										|  Профиль
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('adress')
										|  Данные компании
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('mark')
										|  Адреса
								li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('feadback')
										|  Мои отзывы
								li.logout-li
									a(href="#")
										.aside-menu__icon-wrap
											+icon('logout')
										|  Выйти
				.col-auto.d-lg-none
					+menu-toggle()
		+b.catalog-modal
			+e.close
				+icon('close2')
			+e.group--promo.pb-0
				.container
					.row
						.col-3
							.text-secondary Акции
						.col-9
							.promo-block
								.row
									- for (var x = 0; x < 3; x++)
										.col-lg-4
											a(href="#").promo-item
												+img("img/stock.png").res-i 
			+e.group--menu
				.container
					.row
						.col-3
							+e.aside.h4
								ul
									li: a(href="#")  Техника для кухни
									li: a(href="#")  Уход за бельем
									li: a(href="#")  Asko Professional
									li: a(href="#")  Аксессуары
						.col-9
							+e.menu-block
								ul
									- for (var x = 0; x < 3; x++)
										li
											+e.menu-img
												+img('img/prod-1.png')
											ul
												li: a(href="#").h5 Встраиваемая посудомоечная машина
												li: a(href="#")  Встраиваемые холодильники
												li: a(href="#")  Встраиваемые духовые шкафы
												li: a(href="#")  Встраиваемые варочные панели
												li: a(href="#")  Встраиваемые кофемашины
										li
											+e.menu-img
												+img('img/prod-2.png')
											ul
												li: a(href="#").h5 Встраиваемая посудомоечная машина
												li: a(href="#")  Встраиваемые холодильники
												li: a(href="#")  Встраиваемые холодильники
												li: a(href="#")  Встраиваемые холодильники
												li: a(href="#")  Встраиваемые духовые шкафы
												li: a(href="#")  Встраиваемые варочные панели
												li: a(href="#")  Встраиваемые кофемашины
	// end top-nav