mixin sVideoAbout(data)
	// start sVideoAbout
	+b.SECTION.sVideoAbout.section#sVideoAbout&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sVideoAbout
				
			+e.row.row
	// end sVideoAbout