// start .sVideoAbout
.sVideoAbout {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	&__slider {
		@include media-breakpoint-down(sm) {
			margin-inline: -15px;
		}
		padding-bottom: 20px;
	}
	.swiper-wrapper {
		@include media-breakpoint-up(md) {
			transform: none !important;
			display: grid;
			grid-template-columns: 61% 1fr;
			gap: 20px;
			width: 100%;
		}
	}
	&__slide {
		@include media-breakpoint-up(md) {
			width: 100% !important;
			margin: 0 !important;
			&:nth-child(1) {
				grid-column: 1 / 2;
				grid-row: 1 / 3;
				font-size: 24px;
				--btn-s: 74px;
			}
			&:nth-child(n + 4) {
				display: none;
			}
		}
	}

	&__row-control {
		// margin-top: 20px;
		// padding-bottom: 20px;
		.swiper-pagination {
			text-align: left;
		}
		.arrow-wrap {
			position: relative;
			bottom: auto;
			right: auto;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sVideoAbout

.video-item {
	border-radius: 16px;
	position: relative;
	overflow: hidden;
	padding-bottom: calc(28 / 46 * 100%);
	display: block;
	min-height: 100%;
	&::after {
		content: "";
		inset: 0;
		position: absolute;
		z-index: 2;
		background: linear-gradient(
			180deg,
			rgba(80, 108, 160, 0) 50.2%,
			#1d273a 100%
		);
	}
	&:hover {
		--color: var(--bs-primary);
		--bg: #fff;
	}
	&__btn {
		@include a-cent;
		aspect-ratio: 1;
		font-size: var(--btn-s, 37px);
		width: 2.2em;
		color: var(--color, #fff);
		border: 1px solid #fff;
		background: var(--bg);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		@include mt;
		.icon {
			font-size: 1em;
			margin-left: 0.2em;
		}
	}
	&__caption {
		position: absolute;
		bottom: 20px;
		left: 20px;
		z-index: 5;
		color: #fff;
		@include media-breakpoint-up(lg) {
			max-width: 60%;
		}
	}

	&__play {
	}
}
