mixin sProdBody(data)
	// start sProdBody
	+b.sProdBody.section#sProdBody&attributes(attributes)
		+e.head.d-none.d-lg-block
			ul.container
				li
					a(href="#") Документы
				li
					a(href="#") Описание
				li
					a(href="#") Характеристики
				li
					a(href="#") Аксессуары
				li
					a(href="#") Частые вопросы
				li
					a(href="#") Отзывы
						sup 13
		.container
				
			+e.row.row
				.col-xxl-9.col-xl-8
					+e.inner
						section.section.sContent
							+b.section-title
								h4 Документы
							+b.doc-row
								+b.doc-item.text-body(href="#")
									div
										img(src="img/doc-i.svg", alt="")
									div
										.h6.fw-400 Инструкция по эксплуатации на русском языке 
										.small.text-secondary 2.3 MB 
										
								+b.doc-item.text-body(href="#")
									div
										img(src="img/doc-i.svg", alt="")
									div
										.h6.fw-400 Схема встраивания
										.small.text-secondary 2.3 MB 

						section.section.sContent
							+b.section-title
								h4 Описание DSD544B
							p Встраиваемая посудомоечная машина Asko DSD544B рассчитана на загрузку 14 комплектов посуды. Пониженный уровень шума, инновационная система сушки и большое количество программ позволяют модели стать незаменимым помощником на современной кухне.
							h5.text-primary.fw-400 Ключевые преимущества
							ul
								li Super Cleaning System™
								li 9 Spray™
								li Адаптивные зоны усиленной мойки Power zones
						section.section.sContent
							+b.section-title
								h4 Характеристики Asko DSD544B
							h5.text-primary.fw-400 Основные характеристики
							table.mb-4
								tr
									td: span Вид
									td: span Полноразмерная
									
								tr
									td: span Установка
									td: span Встраиваемая
								tr
									td: span Тип встраивания
									td: span Полностью
								tr
									td: span Автоматическое открывание двери по окончании программы
									td: span 14
								tr
									td: span Цвет
									td: span Титан

							.small.text-secondary.mb-3 
								span.text-primary * 
								| Все информационные материалы, представленные на Сайте, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах, комплектации и характеристиках товара, включая цвета, размеры и формы. Фирма-производитель оставляет за собой право на внесение изменений в конструкцию, дизайн и комплектацию товара без предварительного уведомления. Перед оформлением Заказа Покупатель должен обратиться к Продавцу для уточнения свойств и характеристик Товара. Подробная информация о товаре указывается в инструкции и на упаковке товара. Используемое название в России: Аско
						+sCatalogAccessories03
				.col.section.d-none.d-xl-block
					+b.section-title
							h4 Шоурум
							.card.mb-5.p-0
								.card__head.bg-wrap
									+img("img/about.jpg",'bg').img-bg
								.card__body
									div
										.sAddresses__title(style="--icon-color: #894E35") 
											+icon("metro")
											| Курская
									p.mb-1 г. Москва,  <br> Дмитровское шоссе, д.62, с.5
									.sAddresses__icons.row.mb-2.smallest
										.sAddresses__icon.sAddresses__icon--status.col-auto
											.sAddresses__ball(style="background: #35BE73")
											| Открыт
										.sAddresses__icon.sAddresses__icon--rating.col-auto
											+img("img/parking.svg")
											| Бесплатная парковка
									.sAddresses__group.d-none.d-lg-block.small
										.sAddresses__time
											.mb-1
												span.text-secondary Пн. - пт.: 
												| 9:00 — 20:00
											.mb-1
												span.text-secondary Сб. - вс.: 
												| 10:00 — 18:00
									.sAddresses__group
											a.text-body.h6.fw-400(href="tel:8(495)646-09-31") 8 (495) 646-09-31
											br
											a.text-body.h6.fw-400(href="mailto:info@tehnosadov.ru") info@tehnosadov.ru
									a.sAddresses__btn.btn.btn-success(href="#").mt-0 Записаться на показ

							a.card.p-0.mb-5.d-block.ovh(data-fancybox href="img/sert.jpg" data-caption="Сертификат")
								+img("img/sert.jpg").res-i
					+b.section-title
							h4.text-primary Акции
							a.card.p-0.mb-5.d-block.ovh(href="#")
								+img("img/stock.png").res-i

			section.section
				+b.section-title
					h4 Частые вопросы
				.row
					.col.order-lg-last
						a.card(href="#").d-block.p-3.text-body.h5.fw-400
							.row
								.col Задать вопрос
								.col-auto
									+img("img/ask.svg")
					.col-xxl-9.col-lg-8
						+e.inner
							+ddGroup()
								+ddGroupItem('Можно ли в данной модели менять направление открывания двери? ', 'active')
									.row.g-2
										.col-lg-auto.text-primary Ответ:
										.col 
											p Добрый день! Сыпучий порошок и гель для стирки можно заливать в кювету, где указан значок корзины с 2-мя вертикальными палочками. Только, если вы будете использовать гель, то нужно заливать его в выдвинутую специальную шторку в этой кювете. Кондиционер для белья используется в кювете со значком «Цветочек».
								+ddGroupItem(' Что нужно сделать перед первым использованием стиралки?')
									.row.g-2
										.col-lg-auto.text-primary Ответ:
										.col 
											p Добрый день! Сыпучий порошок и гель для стирки можно заливать в кювету, где указан значок корзины с 2-мя вертикальными палочками. Только, если вы будете использовать гель, то нужно заливать его в выдвинутую специальную шторку в этой кювете. Кондиционер для белья используется в кювете со значком «Цветочек».
								+ddGroupItem(' В какую кювету насыпать порошок, в какую гель и в какую кондиционер?')
									.row.g-2
										.col-lg-auto.text-primary Ответ:
										.col 
											p Добрый день! Сыпучий порошок и гель для стирки можно заливать в кювету, где указан значок корзины с 2-мя вертикальными палочками. Только, если вы будете использовать гель, то нужно заливать его в выдвинутую специальную шторку в этой кювете. Кондиционер для белья используется в кювете со значком «Цветочек».
			+sReviews2
	// end sProdBody