mixin sAddresses(data)
	// start sAddresses
	+b.SECTION.sAddresses.section#sAddresses&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sAddresses
				
			+e.row.row
	// end sAddresses