// start .sProdHead
.sProdHead {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	.product-item__head-btns {
		position: static;
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	@include media-breakpoint-up(lg) {
		.icon-description__item {
			width: rem(39);
		}
	}
	.product-item__price-old {
		font-size: rem(18);
	}
	.product-item__price-new {
		@include rfs(32px);
	}
	&__btn {
		min-width: rem(158);
		font-size: 1rem;
		width: 100%;
	}
	&__slider-sm-wrap {
		height: 100%;
		position: relative;
		max-height: rem(540);
	}
	.sProdHead__slider-sm {
		height: 100%;
	}
	--thumb-w: #{rem(60)};

	.swiper-slide {
		position: relative;

		aspect-ratio: 480 / 540;
		.img-wrap-center {
			width: 100%;
			height: 100%;
			border-radius: 8px;
		}
	}

	&__slider-wrap {
		// height: 100%;
		@include media-breakpoint-up(lg) {
			max-width: rem(540);
		}
		@include media-breakpoint-up(md) {
			display: grid;
			gap: rem(20);
			grid-template-columns: var(--thumb-w) 1fr;
			max-height: rem(540);
		}
	}
	&__slider-sm {
		width: 100%;
		max-height: calc(var(--thumb-w) * 6 + 10px * 5);
		.swiper-slide {
			@include mt;
			aspect-ratio: 1;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 4;
		position: absolute;
		text-align: center;
		&:not(:hover) {
			color: $secondary;
		}
		svg {
			display: none;
		}
	}
	&__slider-lg {
		width: 100%;
		@include media-breakpoint-up(lg) {
			height: 100%;
			max-height: rem(540);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProdHead

.img-wrap-center {
	border-radius: 8px;
	overflow: hidden;

	&__play-btn {
		width: calc(4 / 6 * 100%);
		max-width: 100px;
		aspect-ratio: 1;
		color: #fff;
		background-color: $primary;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		.icon {
			width: 40%;
			height: 40%;
			margin-left: 10%;
			color: currentColor;
		}
	}
}
