mixin sCompare(data)
	// start sCompare
	+b.sCompare.section#sCompare&attributes(attributes)
		.container
			+e.head
				+e.slider--head-js.swiper
					<!-- Fixed slide to keep titles aligned. В идеале сюда выводить карточку, в которой больше  всего текста   -->
					//- +e.slide--fixed.swiper-slide
					//- 	+b.compare-item--head
					//- 		+product-item-compare(1)
					.swiper-wrapper
						+e.slide--head.swiper-slide
							+e.tr-flex
								- for (var y = 0; y < 2; y++)
									- for (var x = 1; x <= 5; x++)
										+e.td-flex(style=`--order-index: ${(y*5 + x)}`) 
											+b.compare-item--head
												+product-item-compare(x)
												.text-ends
												+e.btn-switch-index--js
													+icon("change-index")
			+e.row-control.row
				.col
					.swiper-scrollbar
				.col-auto.d-none.d-xl-block
					.arrow-wrap
						+arrow
			+e.body
				mixin innerGr(t,p)
					+e.group-sub-title= t
					.sCompare__tr-flex
						- for (var y = 0; y < 2; y++)
							- for (var x = 1; x < 5; x++)
								.sCompare__td-flex(style=`--order-index: ${(y*5 + x)}`)
									+e.group-text
										span= y*5 + x
										if block
											block
										else
											= p
				+e.slider--body-js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							+b.compare-item--body
								+e.group
									+e.group-title--js.h4: span Основные характеристики
										+icon("chevron-down")
									+e.toggle-block
										+innerGr("Тип", "Бытовая")
										+innerGr("Тип сушки", "Конденсационная")
										+innerGr("Тип загрузки", "Фронтальная")
										+innerGr("Дверца", "Фронтальная перенавешиваемая со стеклом")
										+innerGr("Подсветка барабана")
											img(src="img/true.svg", alt="")
											img(src="img/false.svg", alt="")
								+e.group
									+e.group-title--js.visibility-el.h4: span Безопасность
										+icon("chevron-down")
									+e.toggle-block
										+innerGr("Подсветка барабана")
											img(src="img/true.svg", alt="")
											img(src="img/false.svg", alt="")
										+innerGr("Подготовлена для подключения к внешним дозировочным системам")
											img(src="img/true.svg", alt="")
										+innerGr("Конденсационная")
											img(src="img/true.svg", alt="")
											+info()
			+e.fixed-slider-wrap.d-md-none
				+e.fixed-slider-block
					.container
						+e.slider--fixed-js.swiper
							.swiper-wrapper
								+e.slide--head.swiper-slide
									+e.tr-flex
										- for (var y = 0; y < 2; y++)
											- for (var x = 1; x <= 5; x++)
												+e.td-flex(style=`--order-index: ${(y*5 + x)}`)
													+b.compare-item--fixed
														+product-item-compare-sm(x)
						.swiper-scrollbar
	// end sCompare