// start .sClientsService
.sClientsService {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(md) {
		--sp: 40px;
	}
	--sp: 20px;

	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
	}
	&__col {
	}
	&__item {
		height: 100%;
		background: #ffffff;
		/* Shadow_1 */
		box-shadow: 0px 10px 30px rgba(38, 51, 77, 0.05);
		border-radius: 16px;
		@include mt;
		&:hover {
			translate: 0 -2%;
		}

		.icon-wrap {
			position: absolute;
			top: var(--sp);
			right: var(--sp);
			transform: scale(1, var(--sc, 1));
			.icon {
				color: var(--color, var(--bs-light));
				position: static;
				font-size: 10px;
				fill: none;
				stroke: currentColor;
			}
		}
		&.active {
			--color: var(--bs-primary);
			--sc: -1;
			// --angle:
		}
	}

	&__head {
		position: relative;
		padding: var(--sp);
		padding-bottom: 20px;
		padding-left: calc(var(--sp) * 2);
		@include media-breakpoint-up(md) {
			pointer-events: none;
		}
		.icon {
			position: absolute;
			left: calc(var(--sp) - 10px);
			font-size: 30px;
			color: $primary;
		}
	}

	&__body {
		padding: var(--sp);
		padding-top: 0;
		display: none;
		@include media-breakpoint-up(md) {
			padding-left: calc(var(--sp) * 2);
			display: block !important;
		}
	}
	&__title {
		font-size: 18px;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sClientsService
