mixin sClientsService(data)
	// start sClientsService
	+b.SECTION.sClientsService.section#sClientsService&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sClientsService
				
			+e.row.row
	// end sClientsService