mixin sClientsService(data)
	// start sClientsService
	+b.SECTION.sClientsService.section#sClientsService&attributes(attributes)
		.container
			+b.section-title
				h2 Клиентский сервис Asko
				
			+e.row.row
				mixin item(i,t,t2, p)
					+e.col.col-md-6
						+e.item
							+e.head
								+icon('service-'+i)
								div
									+e.title= t
									.text-secondary= t2
								.icon-wrap.d-md-none
									+icon("chevron-down")
							+e.body
								p!= p
				+item(1,"Бесплатная доставка","по всей России" ,"Бесплатная доставка Техника со специальным лейблом доставляется бесплатно по Москве. Менеджер интернет-магазина поможет выбрать удобное время доставки. Возможна доставка в регионы России." )

				+item(2,"Бесплатная установка","на готовые коммуникации" ,"Бытовая техника со специальным лейблом устанавливается в Москве и Санкт-Петербурге бесплатно. Подключение осуществляется специалистами партнерского сервисного центра." )
				
				+item(3,"Фирменный магазин","официальный партнер" ,"Интернет-магазин asko-shop.ru — это официальный дилер  техники Asko в России. В каталоге представлены новые и популярные модели, которые компания поставляет на рынок РФ. Приборы сертифицированы для использовании в России и СНГ." )

				+item(4,"Гарантия от производителя","до 24 месяцев" ,"При покупке в asko-shop.ru на товары распространяется официальная гарантия производителя. Для бытовых приборов срок составляет 24 месяца, для профессиональной техники — 12 месяцев." )
	// end sClientsService